tab {
	padding: 5px;
	border-left: 1px solid #dee2e6;
	border-right: 1px solid #dee2e6;
	border-bottom: 1px solid #dee2e6;

	&[heading="Edit"] {
		.editor {
			display: flex;
			flex-direction: column;
			height: 100%;
		}

		.editorctl {
			margin-bottom: 5px;

			.btn-group {
				padding-right: 5px;
			}
		}

		.editorinput {
			flex-grow: 1;

			textarea {
				width: 100%;
				height: 100%;
				resize: none;
			}
		}
	}

	&[heading="Preview"] {
		overflow-y: auto; overflow-x: hidden;
	}
}