<app-card header="Something when wrong... 😵">
    <p>{{error.when}}</p>
    <p>{{error.friendly}}</p>
    <p>
        Here is some things you could try:<br />
        Try to navigate to the <a routerLink="/home">main menu</a>.<br />
        If this happened multiple times, try <a [href]="report" target="_blank">reporting the issue</a>.<br />
        Or try again later.
    </p>

    <div *ngIf="debug">
        <h2>Debug info:</h2>
        <p *ngIf="error.message">{{error.message}}</p>
        <p class="stack" *ngIf="error.stack">{{error.stack}}</p>
    </div>
    
</app-card>