<div class="row">
	<app-navigation class="col-md-3"></app-navigation>
	<div class="col-md-9">
		<app-card header="Details">
				<div class="details row">
	
					<div class="col-md-6">
						<div>
							<input class="form-control"
								   type="text"
								   placeholder="Note title"
							       [(ngModel)]="note.Title"/>
						</div>
						<p class="nobot">
							by {{note.Author}}
						</p>
					</div>
	
					<div class="col-md-6 text-md-right">
						<p class="nobot">Created on {{note.Added}}</p>
						<p *ngIf="note.Updated">Last update on {{note.Updated}}</p>
					</div>
				</div>
			</app-card>

			<app-card header="Content">
				<app-markdown-editor [data]="note.Content"
				                     tab-height="300"
									 (update)="onMarkdownChange($event)"
									 (save)="onFormSubmit()"></app-markdown-editor>
				<small class="text-danger">
					HTML isn't supported even if the preview render it.
				</small>
			</app-card>

			<button	type="button"
					class="btn btn-primary float-right"
					(click)="onFormSubmit()">
				<i class="fas fa-save"></i> Save
			</button>
	</div>
</div>
