<div class="container">
    <div class="row">
        <div class="col-12">
            <header>
                <h1>{{title}}</h1>

                <div>
                    <button *ngIf="liUsrSrv.get == null; else loggedin"
                            type="button"
                            class="btn btn-primary"
                            (click)="doLogin()">
                        <i class="fas fa-sign-in-alt"></i>
                    </button>

                    <ng-template #loggedin>
                        <div class="btn-group" dropdown>
                            <button dropdownToggle
                                    type="button"
                                    class="btn btn-primary dropdown-toggle">
                                <i class="fas fa-user"></i>
                            </button>
                            <ul *dropdownMenu
                                    class="dropdown-menu">
                                <li role="menuitem"><div class="dropdown-item">ssss</div></li>
                            </ul>
                        </div>
                    </ng-template>
                </div>
            </header>

            <router-outlet></router-outlet>
        </div>
    </div>
</div>
