<nav>
	<div class="list-group">
        <div class="list-group-item header">
            <div class="row justify-content-between">
                <p>Navigation</p>
                <button class="btn btn-secondary btn-sm" type="button" (click)="collapsed = !collapsed"><i class="fas fa-bars"></i></button>
            </div>
        </div>
        <div [collapse]="collapsed">
            <div class="list-group-item">
                <a routerLink="/home">View all</a>
            </div>
            <div *ngFor="let n of notes" class="list-group-item">
                <a [routerLink]="['/note', n.ID]">{{n.Title}}</a>
            </div>
        </div>
	</div>
</nav>
