nav {
	margin-bottom: 3px;

	.list-group-item {
		overflow: hidden;
		text-overflow: ellipsis;

		&.header {
			font-weight: bold;
			font-size: 1.2rem;
			background-color: rgba(0,0,0,.03);

			p {
				margin-bottom: 0;
			}
			
			@media (min-width: 768px)  {
				.btn {
					display: none;
				}
			}

			& > .row {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}